{% extends 'base.html' %}

{% block title %}Catalog{% endblock %}

{% block content %}
{% if item_list %}
<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Price</th>
            <th>Stock</th>
            <th>Code</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for item in item_list %}
        <tr>
            <td>{{ item.nama }}</td>
            <td class="centered-cell">{{ item.harga }}</td>
            <td class="centered-cell">{{ item.stok }}</td>
            <td class="centered-cell">{{ item.kode }}</td>
            <td class="centered-cell"><a href="{% url 'users:detail' item.id %}">Detail</a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
        <a href="?page=1">&laquo; first</a>
        <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of
            {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}">next</a>
        <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>
{% endif %}
{% endblock %}